<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <form method="post" action="/auth/login.php">
        <div>
            <label for="username">Username</label>
            <input type="text" id="username" name="username" value="{{ username|e }}" required />
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required />
        </div>

        {% if error %}
        <div style="color: red;">
            <p>{{ error }}</p>
        </div>
        {% endif %}

        <div>
            <input type="submit" value="Login" />
        </div>
    </form>
</body>
</html>
