<html>
  <body>
    <h1>Hello {{ nama }}</h1>
    <h1>{{ count }}</h1>
    <div>
      <form method="post" action="clear-session.php">
        <input type="submit">
      </form>
    </div>
  </body>
</html>

